.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    z-index: 10;
}

.navbar-logo h1 {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 700;

}

.navbar .navbar_content {
    padding: 3rem 4rem 1rem;
    display: flex;
    justify-content: space-between;

}

.navbar .navbar_content .navbar_links li {
    display: inline-block;

}

.navbar .navbar_content .navbar_links li:not(:last-of-type) {
    text-decoration: none;
    color: #333333;
    padding: 8px 12px;
    font-weight: 500;

}

.navbar .navbar_content .navbar_links a {
    padding: 1rem;
    display: inline-block;
}

.navbar .navbar_content .navbar_links a:hover {
    color: var(--tertiary-color);
}

.navbar.active{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
 
}

.navbar .navbar_content .navbar_mobile,
.navbar .navbar_content .navbar_mobile .mobile_links {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar .navbar_content .navbar_links {
        display: none;
    }

    .navbar .navbar_content .navbar_mobile {
        display: flex;
        align-items: center;
    }

    .navbar .navbar_content .navbar_mobile img {
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
    }

    .navbar .navbar_content .navbar_mobile.active .mobile_links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 98%;
        left: 0;
        right: 20px;
        background-color: #ffffff;
        border: 1px solid #ddd;
        box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
        padding: 1rem 0;
        z-index: 1;

    }

    .navbar .navbar_content .navbar_mobile.active .mobile_links li {
        margin-right: 0;

    }

    .navbar .navbar_content .navbar_mobile.active .mobile_links li a {
        padding: 1rem;
        display: block;
        text-align: center;
    }



}